.env
.dockerignore
.vscode/
__pycache__/
*.pyc
instance/
.envrc
.DS_Store
celerybeat-schedule
*.sqlite3
*.log
actyv_ai.egg-info/
uploads/
migrations/
docker-compose.override.yml
docker-compose.prod.yml
docker-compose.dev.yml
docker-compose.test.yml
Dockerfile.prod
